div#homepage{
	position: absolute;
	
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;

}

.header{
	width: 100%;
	padding-top: 20px;
	position: absolute;
	
	
	

}


.header_content{
	font-size: 13px;
	margin-left: 80%;
	display: inline-block;
	font-family: arial, sans-serif;
	min-height: 30px;
	padding-left: 20px;

}

.header_content a{
	margin-right: 10px;
	color: 111;
	text-decoration: none;
}

.header_content a input[type="button"]{
	background-color: #4285f4;
	font-weight: bold;
	color: #fff;
	outline: none;
	border-style: none;
	padding: 5px 10px;
	cursor: default;

}

.img_g{
	margin-bottom: -10px;
	height: 30px;
	width: 30px;
	display: inline-block;
	background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	background-position: -132px -38px;
	background-size: 528px 68px;

}

.img_g:hover{
	opacity: .75;
}




.space{
	padding-top: 110px;
	
	position: relative;	
	
	
	

}

.logo{
	background-color:
	padding-top: 109px;
	margin-left: 450px;
	margin-top: 50px;
	margin-right: 400px;
	align: center;
}

p.country{
	margin-left: 345px;
	margin-top: -25px;
	color: blue;
	position: absolute;
}

.search_box{
	background-color:
	margin-top: 1px;
	padding-top: 24px;
	
}

input[type="text"]{
	width: 550px;
	height: 35px;
	border: 1px solid #d9d9d9;

}

input[type="text"]:hover{
	border: 1px solid blue;
}

.divider{
	width: 10px;
	height: auto;
	display: inline-block;
}

.search_buttons{
	min-height: 50px;
	
	margin-top: 30px;
	margin-left: 10px;
	padding-top: 5px;
}

.search_buttons input[type="submit"]{
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-color: Transparent;
	border-style: none;
	color: #757575;
	padding: 10px 16px;
	min-width: 54px;
	margin-top: 1px;
	margin-left: 2px;
}

.search_buttons input[type="submit"]:hover{

	border: 1px solid #c6c6c6;
	
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: 222;
}

.search_buttons input[type="submit"]:focus{
	border: 1px solid blue;
	outline: none;
}

.other_languages{
	margin-left: 110px;
}

.language{
	margin-left: ;
	margin-top: 40px;
	display: inline-flex;
}

a.language{
	color: blue;
	text-decoration: none;

}

a.language:hover{
	text-decoration: underline;
}

.footer{
	background-color: #f2f2f2;;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	position: absolute;
	width: 100%;
	
	bottom: 0;
}

.left_side a, .right_side a{
	text-decoration: none;
	color: grey;
}

.left_side{
	float: left;
	margin-left: 30px;
	word-spacing: 30px;
}

.right_side{
	float: right;
	margin-right: 30px;
	word-spacing: 30px;
}

.left_side a:hover, .right_side a:hover{
	text-decoration: underline
}