div#homepage{
	position: absolute;
	
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;

}

.header{
	width: 100%;
	padding-top: 20px;
	position: absolute;
	
	
	

}


.header_content{
	font-size: 13px;
	margin-left: 80%;
	display: inline-block;
	font-family: arial, sans-serif;
	min-height: 30px;
	padding-left: 20px;

}

.header_content a{
	margin-right: 10px;
	color: 111;
	text-decoration: none;
}

.header_content a input[type="button"]{
	background-color: #4285f4;
	font-weight: bold;
	color: #fff;
	outline: none;
	border-style: none;
	padding: 5px 10px;
	cursor: default;

}

.img_g{
	margin-bottom: -10px;
	height: 30px;
	width: 30px;
	display: inline-block;
	background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
	background-position: -132px -38px;
	background-size: 528px 68px;

}

.img_g:hover{
	opacity: .75;
}




.space{
	padding-top: 110px;
	
	position: relative;	
	
	
	

}

.logo{
	background-color:
	padding-top: 109px;
	margin-left: 450px;
	margin-top: 50px;
	margin-right: 400px;
	align: center;
}

p.country{
	margin-left: 345px;
	margin-top: -25px;
	color: blue;
	position: absolute;
}

.search_box{
	background-color:
	margin-top: 1px;
	padding-top: 24px;
	
}

.search_box input[type="text"]{
	width: 550px;
	height: 35px;
	border: 1px solid #d9d9d9;

}

.search_box input[type="text"]:hover{
	border: 1px solid blue;
}

.divider{
	width: 10px;
	height: auto;
	display: inline-block;
}

.search_buttons{
	min-height: 50px;
	
	margin-top: 30px;
	margin-left: 10px;
	padding-top: 5px;
}

.search_buttons input[type="submit"]{
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	background-color: Transparent;
	border-style: none;
	color: #757575;
	padding: 10px 16px;
	min-width: 54px;
	margin-top: 1px;
	margin-left: 2px;
}

.search_buttons input[type="submit"]:hover{

	border: 1px solid #c6c6c6;
	
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	color: 222;
}

.search_buttons input[type="submit"]:focus{
	border: 1px solid blue;
	outline: none;
}

.other_languages{
	margin-left: 110px;
}

.language{
	margin-left: ;
	margin-top: 40px;
	display: inline-flex;
}

a.language{
	color: blue;
	text-decoration: none;

}

a.language:hover{
	text-decoration: underline;
}

.footer{
	background-color: #f2f2f2;;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	position: absolute;
	width: 100%;
	
	bottom: 0;
}

.left_side a, .right_side a{
	text-decoration: none;
	color: grey;
}

.left_side{
	float: left;
	margin-left: 30px;
	word-spacing: 30px;
}

.right_side{
	float: right;
	margin-right: 30px;
	word-spacing: 30px;
}

.left_side a:hover, .right_side a:hover{
	text-decoration: underline
}


.results_header{
	background-color: #f2f2f2;
	height: 60px;
	margin: -10px -10px 0 -10px;
	min-width: 1200px;
	font-family: arial, sans-serif;
	
}

.r_logo img{
	float: left;
	margin: 10px 20px 0 10px;
	width: 100px;

}

.r_searchbox input[type="text"]{
	float: left;
	margin-top: 10px;
	width: 520px;
	height: 35px;
}


.r_search_button{
	margin-top: 10px;
	float: left;
	background-color: #4285f4;
	height: 40px;
	width: 40px;
}
.r_btn{
	cursor: pointer;
	background: url(../images/nav_logo242.png) no-repeat -107px -55px;
	margin-top: 8px;
	margin-left: 7px;
	padding: 10px 10px 10px 10px;
	background-color: transparent;
	border-style: none;
	width: 24px;
	height: 24px;

}

.r_apps{
	background: url(../images/i1_1967ca6a.png) no-repeat -135px -43px;
	opacity: .75;
	float:right;
	margin-top: 15px;
	margin-right: 10px;
	width: 24px;
	height: 24px;
}

.r_sign_in{
	margin-top: 10px;
	margin-right: 50px;
	margin-left: 10px;
	float: right;
	
	height: 30px;
	width: 62px;
}

.r_sign_in .r_button{
	cursor: pointer;
	border-style: none;
	height: 35px;
	width: 65px;
	background-color: #4285f4;
	color: #fff;
	font-weight: bold;
}

.r_body{
	border-bottom: 1px solid #ebebeb;
	color: #555;
	text-align: center;
	min-width: 1080px;
	height: 57px;
	margin-left: -10px;
	margin-right: -10px;
}

.r_body a{
	text-decoration: none;
	color: #555;
}

.r_body .r_tab_links:hover{
	
	color: #111;
}


.tab_all{
	border-bottom: 3px solid #4285f4;
	float: left;
	height: 57px;
	margin-left: 120px;
	width: 33px;
}

.tab_all .r_tab_links{
	
	color: #4285f4;
	
}

.tab_all .r_tab_links:hover{
	color: #4285f4;	
}

.tab_images{
	float: left;
	height: 57px;
	width: 58px;
}

.tab_apps{
	float: left;

	height: 57px;
	width: 50px;
}

.tab_videos{
	float: left;

	height: 57px;
	width: 55px;
}

.tab_books{
	float: left;

	height: 57px;
	width: 54px;
}

.tab_more{
	float: left;
	
	height: 57px;
	width: 61px;
}

.r_d_arrow{
	top: 34%;
	margin-left: 2px;
	margin-top: -2px;
	border-color: #909090 transparent;
	border-width: 4px 4px 0 4px !important;
	width: 0;
	height: 0;
	border-style: solid;
	float: left;
	position: absolute;
}

.tab_search_tools{
	float: left;
	
	height: 57px;
	width: 91px;
}

.settings{
	background-color: #f5f5f5;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
	border: 2px solid #ebebeb;
	border-radius: 5px;
	width: 72px;
}

.settings button[type="button"]{
	background:url(../images/nav_logo242.png);
	background-position: -40px -256px;
	border-style: none;
	margin-top: 0px;
	margin-bottom: -5px;
	margin-left: 10px;
	width: 28px;
	height: 29px;
	opacity: .75;
}
